body {
    font-family: Raleway, Tahoma, Verdana, sans-serif;
    overflow: hidden;
    position: relative;
}
@import 'scss/help/var';
@import 'scss/help/classes';
@import 'scss/layout/header';
@import 'scss/layout/homepage';
@import 'scss/layout/footer';