//- Start Footer
footer
    .container
        .row
            div(class='col-6 col-md-3')
                .foot-header
                    h4 Canvas
                    p We believe in Simple, Creative &amp; Flexible Design Standards.
                    span.title Headquarters: 
                    p 795 Folsom Ave, Suite 600 San Francisco, CA 94107
                    p <span>Phone: </span>(91) 8547 632521
                    p <span>Fax: </span>(91) 11 4752 1433
                    p <span>Email: </span>info@canvas.com
            div(class='col-6 col-md-2')
                .blogroll
                    h5 Blogroll
                    ul(class="list-unstyled")
                        li Documentation
                        li Feedback
                        li Plugins
                        li Support Forums
                        li Themes
                        li WordPress Blog
                        li WordPress Planet
            div(class='col-6 col-md-3')
                .recent
                    h5 Recent Posts
                    p Lorem ipsum dolor sit amet, consectetur
                    span 10<sup>th</sup> July 2019
                    p Elit Assumenda vel amet dolorum quasi
                    span 14<sup>th</sup> Dec 2019
                    p Debitis nihil placeat, illum est nisi
                    span 23<sup>th</sup> Oct 2019
            div(class='col-6 col-md-4')
                .num
                    span.number1 0
                    span Total Downloads
                .num
                    span.number2 0
                    span Clients
                .supscribe
                    p <span>Supscribe</span> to Our Newsletter to get Important News, Amazing Offers & Inside Scoops:
                    form
                        input(type='email' placeholder="Email")
                        input(type="submit" value="Subscribe")
                    .social                        
                        div(class="icon face")
                            i(class="fab fa-facebook-f fa-fw")
                        .follow
                            span Like Us
                            span On Facebook
                    .social  
                        div(class="icon rss")
                            i(class="fa fa-rss fa-fw")
                        .follow
                            span Subscribe
                            span To Rss Feeds

//- End Footer
//- Start CopyRight
section.copyright
    .container
        .row
            div(class="col-md-6")
                .copy
                    p Copyrights &copy; 2014 All Rights Reserved by Canvas Inc.
                    a(href="#") Terms Of Use
                    |  / 
                    a(href="#") Privacy Policy
            div(class="col-md-6")
                .icons
                    i(class="fab fa-facebook-f fa-fw")
                    i(class="fab fa-twitter fa-fw")
                    i(class="fab fa-google-plus-g fa-fw")
                    i(class="fab fa-linkedin-in fa-fw")
                    i(class="fab fa-pinterest fa-fw")
                    i(class="fab fa-git fa-fw")
                .email
                    i(class="fa fa-envelope fa-fw")
                    |  info@canvas.com . 
                    i(class="fa fa-phone fa-fw")
                    |  +91-11-6541-6369 . 
                    i(class="fab fa-skype fa-fw")
                    |  CanvasOnSkype
//- End CopyRight