//- Start Nav Bar
nav(class="navbar navbar-expand-lg navbar-light bg-none")
    a(class="navbar-brand" href="#") Canvas
    button(class="navbar-toggler pull-left" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        span(class="navbar-toggler-icon")
    div(class="collapse navbar-collapse" id="navbarSupportedContent")
        ul(class="navbar-nav ml-auto")
            li(class="nav-item")
                a(class="nav-link active" href="#") Home
                    span(class="sr-only") (current)
            li(class="nav-item active")
                a(class="nav-link" href="#") Features
            li(class="nav-item active")
                a(class="nav-link" href="#") Pages
            li(class="nav-item active")
                a(class="nav-link" href="#") Portfolio
            li(class="nav-item active")
                a(class="nav-link" href="#") Blog
            li(class="nav-item active")
                a(class="nav-link" href="#") Shop
            li(class="nav-item active")
                a(class="nav-link" href="#") Shortcodes
    div(class="search") 
        i(class="fa fa-search fa-fw")
        i(class="fa fa-shopping-cart fa-fw")