// Start Welcome
.welcome {
    padding: $mainPadding;
    overflow: hidden;
    .welcome-text {
        h3 {
            color: $hColor;
            margin-bottom: $margin-B;
            font-size: 35px;
            position: relative;
            &:last-of-type {
                
                &:before {
                    @extend %border-b-left;
                    background-color: $hColor;
                }
            }
        }
        p {
            color: $pColor;
            line-height: 1.8;
            font-size: 25px;
            margin-top: 30px;
        }
    }
    .welcome-img {
        height: 400px;
        width: 100%;
        margin-bottom: -50px;
        position: relative;
        text-align: right;
        @media (max-width: 768px) {
            margin-bottom: -50px;
        }
        @media (max-width: 576px) {
            margin-bottom: -120px;
        }
        .phone {
            img {
                width: 100%;
                max-height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                z-index: 1;
                
            }
        }
        .browser {
            img {
                max-height: 100%;
                position: absolute;
                width: 100%;
                right: 0;
                top: 0px;
            }
        }
    }
}
// End Welcome
// Start Features
.feature {
    padding: $mainPadding;
    background-color: $bgColor;
    .feat {
        margin-top: $largMargin;
        &:first-of-type {
            margin-top: 0;
        }
        i {
            font-size: 40px;
            display: block;
            color: $mainColor;
        }
        span {
            font-size: 14px;
            color: $pColor;
            font-weight: bold;
            display: block;
            margin: $margin-B 0px;
        }
        h5 {
            color: $hColor;
            text-transform: uppercase;
            margin: ($margin-B / 2) 0px;
            
        }
        p {
            line-height: 1.8;
            color: $pColor;
            font-size: 13px;
        }
    }
}
// End Features
// Start More Feature
.more-feature {
    padding: $mainPadding;
    .more-header {
        width: $mainWidth;
        margin: 0px auto $largMargin;
        text-align: center;
        h3 {
            color: $hColor;
            margin: $margin-B 0px;
        }
        p {
            color: $pColor;
        }
    }
    .left-part {
        display: flex;
        margin-bottom: $margin-B;
        .text {
            text-align: right;
            display: inline-block;
            width: ($mainWidth + 10%);
            h5 {
                color: $hColor;
            }
            p {
                color: $pColor;
            }
        }
        .icon {
            position: relative;
            top: -30px;
            margin: auto;
            text-align: center;
            padding: 10px;
            background-color: $mainColor;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            i {
                display: inline-block;
                color: #FFF;
                font-size: 30px;
            }
        }
    }
    .mobile {
        text-align: center;
        margin-bottom: $margin-B;
        img {
            max-width: 100%;
        }
    }
    .right-part {
        display: flex;
        margin-bottom: $margin-B;
        .text {
            text-align: left;
            display: inline-block;
            width: ($mainWidth + 10%);
            h5 {
                color: $hColor;
            }
            p {
                color: $pColor;
            }
        }
        .icon {
            position: relative;
            top: -30px;
            margin: auto;
            text-align: center;
            padding: 10px;
            background-color: $mainColor;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            i {
                display: inline-block;
                color: #FFF;
                font-size: 30px;
            }
        }
    }
}
// End More Feature
// Start Easily
.easily {
    background-color: $bgColor;
    overflow: hidden;
    .img {
        background-image: url('../img/main.jpg');
        background-size: cover;
    }
    .video-text {
        text-align: center;
        padding: $mainPadding;
        > span {
            color: $mainColor;
            font-weight: bold;
            font-size: 14px;
        }
        h3 {
            margin-bottom: $margin-B;
            color: $hColor;
            padding: 5px 10px;
        }
        .video {
            img {
                max-width: 100%;
            }
        }
        p {
            margin-top: $margin-B;
            color: $pColor;
            line-height: 1.8;
            padding: 5px 10px;
        }
    }
}
// End Easily
// Start Some Details
.details {
    overflow: hidden;
    .container-fluid {
        padding: 0;
        .reset {
            padding: 0;
        }
    }

    .det {
        padding: $mainPadding;
        text-align: center;
        color: #EEE;
        &.one {
            background-color: rgb(81, 88, 117);
        }
        &.two {
            background-color: rgb(87, 111, 158);
        }
        &.three {
            background-color: rgb(102, 151, 185);
        }
        &.four {
            background-color: rgb(136, 195, 216);
        }
        i, span {
            display: block;
        }
        i {
            margin: auto;
            color: #FFF;
        }
        span {
            &:first-of-type {
                font-size: 40px;
                position: relative;
                &:before {
                    @extend %border-b-center;
                    background-color: #EEE;
                }
            }
            &:last-of-type {
                margin-top: 40px;
                font-size: 20px;
            }
        }
    }

}
// End Some Details
// Start All Features
.all-features {
    padding: $mainPadding;
    .all-feat {
        margin-bottom: $margin-B;
        i {
            font-size: 25px;
            color: $mainColor;
        }
        h5 {
            font-size: 15px;
            color: $hColor;
            font-weight: bold;;
        }
        p {
            font-size: 14px;
            color: $pColor;
            line-height: 1.8;
        }
    }
}
// End All Features
// Start Portfolio
.portfolio {
    overflow: hidden;
    background-color: $bgColor;
    padding: $mainPadding;
    .container-fluid {
        padding: 0;
    }
    .port-header {
        text-align: center;
        color: $hColor;
        margin-bottom: $largMargin;
        h3 {
            position: relative;
            color: $hColor;
            display: inline-block;
            &:before {
                @extend %border-b-center;
                background-color: $hColor;
                display: inline-block;
            }
        }
    }
    .port-img {
        overflow: hidden;
        position: relative;
        transition: $mainTrans;
        &:hover .overlay {
            transition: $mainTrans;
            background-color: rgba(#000, .5);
        }
        &:hover img {
            transition: $mainTrans;
            transform: scale(1.1);
        }
        &:hover .icons {
            opacity: 1;
            transition: $mainTrans;
        }
        &:hover .detail {
            transition: $mainTrans;
            bottom: 0;
        }
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(#000, 0);
            width: 100%;
            height: 100%;
            z-index: 1;
        }
        img {
            width: 100%;
            height: 250px;
            transition: $mainTrans;
        }
        .icons {
            transition: $mainTrans;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 3;
            opacity: 0;
            span {
                background-color: #FFF;
                display: inline-block;
                margin: 10px;
                padding: 10px;
                cursor: pointer;
                border-radius: 50%;
                &:hover i {
                    color: $mainColor;
                }
                i {
                    color: $hColor;
                }
            }
        }
        .detail {
            transition: $mainTrans;
            position: absolute;
            bottom: -100px;
            left: 0;
            width: 100%;
            color: $hColor;
            background-color: #FFF;
            padding: 10px 25px;
            z-index: 2;
            span {
                font-size: 14px;
                color: $pColor;
                a {
                    color: $pColor;
                    text-decoration: none;
                    &:hover {
                        color: $hColor;
                    }
                }
            }
        }
    }
    .see-more {
        padding: 30px;
        background-color: #333;
        color: #FFF;
        text-align: center;
        font-size: 25px;
        transition: $mainTrans;
        &:hover {
            background-color: $mainColor;
        }
        a {
            color: #FFF;
            font-weight: bold;
        }
    }
    .iphone, .opt {
        padding-top: 30px;
    }
    .opt {
        margin-top: $margin-B;
        padding: 30px 30px 0px;
        h3 {
            position: relative;
            color: $hColor;
            display: inline-block;
            &:before {
                @extend %border-b-left;
                background-color: $hColor;
            }
        }
        p {
            margin-top: $margin-B;
            padding: 10px 0px;
            color: $pColor;
            line-height: 1.8;
        }
        button {
            background-color: #FFF;
            border: 2px solid #333;
            color: #333;
            transition: $mainTrans;
            padding: 10px 30px;
            font-weight: bold;
            
            &:hover {
                background-color: #333;
                transition: $mainTrans;
                color: #FFF;
            }
        }

    }
}
// End Portfolio
// Start Testimonial
.testimonial {
    background-image: url('../img/testi-bg.jpg');
    background-size: cover;
    padding: $mainPadding;
    .test-header {
        text-align: center;
        margin-bottom: $largMargin;
        h3 {
            color: #EEE;
            position: relative;
            display: inline-block;
            margin: auto;
            &:before {
                @extend %border-b-center;
                background-color: #EEE;
            }
        }
    }
    .test {
        text-align: center;
        width: 70%;
        margin: auto;
        .avatar {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            overflow: hidden;
            margin: auto;
            margin-bottom: $margin-B;
            img {
                max-width: 100%;
            }
        }
        p, h6 {
            color: #EEE;
            font-weight: bold;
            font-size: 20px;
        }
        h6 {
            font-size: 15px;
        }
        span {
            display: block;
            color: #CCC;
        }
    }
    .carousel-indicators {
        bottom: -40px;
        li {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            cursor: pointer;
        }
    }
}
// End Testimonial
// Start Blog
.blog {
    padding: $mainPadding;
    background-color: $bgColor;
    .blog-header {
        text-align: center;
        margin-bottom: $margin-B;
        h3 {
            display: inline-block;
            position: relative;
            color: $hColor;
            &:before {
                @extend %border-b-center;
                background-color: $hColor;
            }
        }
    }
    .card {
        border: none;
        width: 100%;
        margin: $margin-B 0px;
        .card-img {
            position: relative;
            &:hover .over {
                background-color: rgba(#FFF, .2);
            }
            .over {
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(#FFF, 0);
                width: 100%;
                height: 100%;
            }
            img {
                max-width: 100%;
                height: 200px;
            }
        }
        .card-body {
            padding: 10px;
            a {
                color: $hColor;
                text-decoration: none;
                font-weight: bold;
                &:hover {
                    color: $mainColor;
                }
            }
            div {
                margin: 10px 0px;
                color: $pColor;
                i {
                    &:hover {
                        color: $mainColor;
                    }
                }
            }
            p {
                color: $pColor;
            }
        }
    }
}
// End Blog
// Start Team
.team {
    padding: $mainPadding;
    background-color: $bgColor;
    .team-header {
        text-align: center;
        margin-bottom: $margin-B;
        h3 {
            display: inline-block;
            position: relative;
            color: $hColor;
            &:before {
                @extend %border-b-center;
                background-color: $hColor;
            }
        }
    }
    .card {
        border: none;
        width: 100%;
        margin: $margin-B 0px;
        .card-img {
            position: relative;
            &:hover .over {
                background-color: rgba(#FFF, .2);
            }
            .over {
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(#FFF, 0);
                width: 100%;
                height: 100%;
            }
            img {
                max-width: 100%;
                height: 300px;
            }
        }
        .card-body {
            padding: 10px;
            text-align: center;
            h4 {
                color: $hColor;
                font-weight: bold;
            }
            span {
                display: block;
                color: $mainColor;
                font-weight: bold;
                font-size: 15px;
            }
            .icon {
                margin: 10px 0px;
                color: $pColor;
                width: 40px;
                height: 40px;
                background-color: #EEE;
                line-height: 40px;
                border-radius: 50%;
                display: inline-block;
                position: relative;
                cursor: pointer;
                transition: $mainTrans;
                &:first-of-type {
                    &:hover {
                        background-color:#3B5998;
                        color: #FFF
                    }
                }
                &:nth-of-type(2) {
                    &:hover {
                        background-color:#00ACEE;
                        color: #FFF
                    }
                }
                &:last-of-type {
                    &:hover {
                        background-color:#DD4B39;
                        color: #FFF
                    }
                }
            }
            
        }
    }
}
// End Team
// Start Clients
.clients {
    overflow: hidden;
    padding: $mainPadding;
    .client-img {
        overflow: hidden;
        img {
            max-width: 100%;
        }
    }
}
// End Clients

// Start Go Up
.up {
    padding: 5px;
    background-color: rgba(#333, .6);
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    &:hover {
        background-color: rgba(#333, .8);
    }
}
// End Go Up
// Start Spinner
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
    
    > div {
        background-color: #CCC;
        height: 100%;
        width: 6px;
        display: inline-block;
        
        -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
        animation: sk-stretchdelay 1.2s infinite ease-in-out;
      }
    .rect2 {
        -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s;
      }
    .rect3 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
    }
    .rect4 {
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s;
    }
    .rect5 {
        -webkit-animation-delay: -0.8s;
        animation-delay: -0.8s;
    }
  }
  
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }
// End Spinner